{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Teleopieka</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="shortcut icon" href="{% static '/images/logo.ico' %}">


</head>
<body>
 <div class="container-fluid" id="page-container">
   <div id="content-wrap">
    {% include 'pacjenci/navbar.html' %}

    {% block content %}
    {% endblock %}
   </div>
    {% include 'pacjenci/footer.html' %}
 </div>
</div>
</body>
</html>