{% load static %}

<html>

<head>
	<title>Resetuj hasło</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
	<link rel="shortcut icon" href="{% static '/images/logo.ico' %}">
</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card3">
				<div class="d-flex justify-content-center">
					<h3 id="form-title" style="text-align:center">Potwierdzenie zresetowania hasła zostało wysłane</h3>
                    <br><br>
                </div>
                <div class="d-flex justify-content-center">
                    <p style="text-align:center">Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została wysłana. Niebawem powinna się pojawić na twoim koncie pocztowym.
                        <br> W przypadku nieotrzymania wiadomości e-mail: upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.
                    </p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
















