<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="liczba-pacjentow">
			  	<div class="card-header">
			  		<h5 class="card-title">Liczba pacjentów</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{liczba_pacjentow}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="liczba-zgloszen">
			  	<div class="card-header">
			  		<h5 class="card-title">Liczba asystentów</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{liczba_asystentow}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="liczba-zgloszen2">
			  	<div class="card-header">
			  		<h5 class="card-title">Liczba zgłoszeń</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{liczba_zgloszen}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>